@import"https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Sora:wght@300;500;600;800&display=swap";* {
    --font-primary: "Sora", system-ui, sans-serif;
    --font-secondary: "Roboto Mono", monospace;
    --max-layout-width: 50rem;
}
body{
    background:linear-gradient( to bottom,rgb(24, 24, 30), rgba(46, 46, 84, 0.9), rgb(24, 24, 30));
    
}

* {
    font-family: var(--font-primary);
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    color: #fff
}

* {
    font-family: var(--font-primary);
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    color: #fff
}
.head{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.associationWith{
    margin-top: 3%;
    margin-left: 39%;
}
.embelem_logo{
    border-radius: 5px;
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
}
.heading{
    margin: 5%;
}
.signInBtnAndLogo{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
   
    /* padding: 5%; */
}
.teamLogo{
    background-color: white;
    color: black;
   
}
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  
  .centered-items {
    Additional styling for the centered items, if needed
  } */
  
.signInButton{
    height: 45px;
    width: 250px;
    border-radius: 50px;
    border: white solid 5px;
    position: relative;
    top:55px ;
    left: 300px;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    padding-left: 75px;
    padding-top: 7px;
}
.centerAssocEmbl{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middleContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.middleContent1{
    height: 29.5rem;
    border-radius: 1rem;
    width: 80rem;
}
.signUp{
    position: relative;
    left: 100px;
    background-color: rgb(49, 49, 147);
    border-radius: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    border: white 2px solid;
    height: 50%;
    width: 100%;
    margin-left: 6rem;
}
input{
    padding: 10px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    color: black;
    border-color: grey;
}
#name{
    margin-top: 0px;
}
.signUpBtn{
    justify-content: center;
    color: rgb(1, 70, 1);
    background-color:white;
    border: rgb(6, 236, 33) 4px solid;
    margin-top: 15px;
    border-radius: 5px;
    padding-left: 5%;
    height: 2rem;
    width: 7rem;
    margin-left: 2.7rem;
}
.signUpText{
    font-size: 2rem;
    color: white;
    position: relative;
    left: 15%;

}

.signUpBtn:hover{
    background-color: rgb(165, 173, 166);
    color: black;
    border-color:rgb(1, 70, 1);
    cursor: pointer;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
    transform-origin: left;

}
html.lenis {
    height: auto
}

.lenis.lenis-smooth {
    scroll-behavior: auto
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: hidden
}
section {
    margin: 0 auto;
    max-width: var(--max-layout-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 1rem
}

h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center
}

@media (max-width: 600px) {
    html {
        font-size:14px
    }

    h2 {
        font-size: 2.4rem
    }

    section {
        padding: 4rem 1rem
    }

    body {
        max-width: 100vw
    }
}



.footer-socials[data-astro-cid-5jp7rtjd] {
    list-style: none;
    display: flex;
    gap: 1rem
}

@media (max-width: 600px) {
    .footer-socials[data-astro-cid-5jp7rtjd] {
        display:none
    }
}

/* anchor */


a[data-astro-cid-5jp7rtjd] {
    font-size: .9rem;
    text-decoration: none
}
a[data-astro-cid-5jp7rtjd]:hover {
    text-decoration: underline
}
a[data-astro-cid-vnzlvqnm] {
    position: relative;
    cursor: pointer;
    transition: transform .2s ease;
    text-decoration: none
}
a[data-astro-cid-vnzlvqnm]:hover {
    transform: scale(1.05)
}
a[data-astro-cid-vnzlvqnm]:hover img[data-astro-cid-vnzlvqnm] {
    transform: scale(1.3) translateY(-10%) rotate(-6deg)
}
a[data-astro-cid-vnzlvqnm]:active {
    transform: scale(.95)
}
.button-contents[data-astro-cid-vnzlvqnm] {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.1);
    padding: .4rem 1rem
}



.header-content[data-astro-cid-shwxrd6l] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem
}


p[data-astro-cid-z7zex2ul] {
    line-height: 1.8em
}

section[data-astro-cid-z7zex2ul] {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 1rem;
    padding: 4rem 1rem
}

h2[data-astro-cid-z7zex2ul] {
    text-align: left
}

.navibar{
    color: #000;
}
@font-face {
    font-family: myFont;
    src: url(f5.ttf);
}
@font-face {
    font-family: fac;
    src: url(f6.ttf);
}
#firstbutton:hover{
    transform: translateY(4);
}
#Sin{
    font-size: 4rem;
    color: #cbc9c9;
}
#Sin:hover{
    color: white;
}
